canvas {
    border: 5px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 600px;
    background-image: url(../sprites/Bckground2.png) ;
}
button {
    position: absolute;
    background-image: url('../sprites/START1.gif');
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 175px;
    height: 100px;
}

.container1 {
    width: 100px;
    height: 50px;
    font-family: 'Bungee Shade', cursive;
    font-size: 20px;
    float: left;
    text-decoration: none;
}
